<a href="https://colab.research.google.com/github/Kirans1ngh/Machine-Learning-practice/blob/main/Data%20Preprocessing/pd_and_np_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
import numpy as np

In [32]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [33]:
#Q1. Write a Python program to create and display a DataFrame from a specified dictionary data which has the index labels.
df = pd.DataFrame(exam_data, index = labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [34]:
#Q2. Write a Python program to display a summary of the basic information about a specified DataFrame and its data
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [35]:
#Q3. Write a Python program to get the first 3 rows of a given DataFrame.
print(df.head(3))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [36]:
#Q4. Write a Python program to select the 'name' and 'score' columns from the following DataFrame
print(df[['name', "score"]])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [37]:
#Q5. Write a Python program to select the specified columns and rows from a given data frame.
print(df.iloc[[1,2,3], [1,2]])

   score  attempts
b    9.0         3
c   16.5         2
d    NaN         3

In [38]:
#Q6. Write a Python program to select the rows where the number of attempts in the examination is greater than 2
print(df[df['attempts'] > 2])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

In [39]:
#Q7. Write a Python program to count the number of rows and columns of a DataFrame
print(df.shape)

(10, 4)

In [40]:
#Q8. Write a Python program to select the rows where the score is missing, i.e. is NaN.
print(df[df['score'].isnull()])

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [41]:
#Q9. Write a Python program to select the rows the score is between 15 and 20 (inclusive).
print(df[df['score'].between(15, 20)])

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [42]:
#Q10. Write a Python program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
print(df[(df['attempts'] < 2)  & (df['score'] > 15)])

    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [43]:
#Q11. Write a Python program to change the score in row 'd' to 11.5.
print("\nQ11: Change score in row 'd' to 11.5")
df.loc['d', 'score'] = 11.5
print(df)

Q11: Change score in row 'd' to 11.5
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [44]:
#Q12. Write a Python program to calculate the sum of the examination attempts by the students
print("\nQ12: Sum of examination attempts")
sum_of_attempts = df['attempts'].sum()
print(sum_of_attempts)

Q12: Sum of examination attempts
19

In [45]:
#Q13. Write a Python program to calculate the mean score for each different student in DataFrame.
print("\nQ13: Mean score of all students")
mean_score = df['score'].mean()
print(f"{mean_score:.2f}")

Q13: Mean score of all students
13.33

In [46]:
#Q14. Write a Python program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.
print("\nQ14: Append row 'k' and then delete it")
print("DataFrame with new row 'k':")
df.loc['k'] = ['Suresh', 15.5, 1, 'yes']
print(df)

print("\nDataFrame after deleting row 'k':")
df = df.drop('k')
print(df)

Q14: Append row 'k' and then delete it
DataFrame with new row 'k':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

DataFrame after deleting row 'k':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [47]:
#Q15. Write a Python program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.
print("\nQ15: Sort by name (desc) and score (asc)")
sorted_df = df.sort_values(by=['name', 'score'], ascending=[False, True])
print(sorted_df)

Q15: Sort by name (desc) and score (asc)
        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

In [48]:
#Q16. Write a Python program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.
print("\nQ16: Replace 'qualify' values with Booleans")
df['qualify'] = df['qualify'].map({'yes': True, 'no': False})
print(df)

Q16: Replace 'qualify' values with Booleans
        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James   11.5         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

In [49]:
#Q17. Write a Python program to change the name 'James' to 'Suresh' in name column of the DataFrame.
print("\nQ17: Change the name 'James' to 'Suresh'")
df['name'] = df['name'].replace('James', 'Suresh')
print(df)

Q17: Change the name 'James' to 'Suresh'
        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d     Suresh   11.5         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

In [50]:
#Q18. Write a Python program to delete the 'attempts' column from the DataFrame.
print("\nQ18: Delete the 'attempts' column")
df_no_attempts = df.drop('attempts', axis=1)
print(df_no_attempts)

Q18: Delete the 'attempts' column
        name  score  qualify
a  Anastasia   12.5     True
b       Dima    9.0    False
c  Katherine   16.5     True
d     Suresh   11.5    False
e      Emily    9.0    False
f    Michael   20.0     True
g    Matthew   14.5     True
h      Laura    NaN    False
i      Kevin    8.0    False
j      Jonas   19.0     True

In [51]:
#Q19. Write a Python program to insert a new column in existing DataFrame.
print("\nQ19: Insert a new column 'city'")
cities = ['California', 'London', 'New York', 'Mumbai', 'Paris', 'Tokyo', 'Sydney', 'Dubai', 'Moscow', 'Berlin']
df['city'] = cities
print(df)

Q19: Insert a new column 'city'
        name  score  attempts  qualify        city
a  Anastasia   12.5         1     True  California
b       Dima    9.0         3    False      London
c  Katherine   16.5         2     True    New York
d     Suresh   11.5         3    False      Mumbai
e      Emily    9.0         2    False       Paris
f    Michael   20.0         3     True       Tokyo
g    Matthew   14.5         1     True      Sydney
h      Laura    NaN         1    False       Dubai
i      Kevin    8.0         2    False      Moscow
j      Jonas   19.0         1     True      Berlin

In [52]:
#Q20. Write a Python program to iterate over rows in a DataFrame.
print("\nQ20: Iterate over rows")
for index, row in df.iterrows():
    print(f"Row {index}:")
    print(row)
    print("-" * 10)

Q20: Iterate over rows
Row a:
name         Anastasia
score             12.5
attempts             1
qualify           True
city        California
Name: a, dtype: object
----------
Row b:
name          Dima
score          9.0
attempts         3
qualify      False
city        London
Name: b, dtype: object
----------
Row c:
name        Katherine
score            16.5
attempts            2
qualify          True
city         New York
Name: c, dtype: object
----------
Row d:
name        Suresh
score         11.5
attempts         3
qualify      False
city        Mumbai
Name: d, dtype: object
----------
Row e:
name        Emily
score         9.0
attempts        2
qualify     False
city        Paris
Name: e, dtype: object
----------
Row f:
name        Michael
score          20.0
attempts          3
qualify        True
city          Tokyo
Name: f, dtype: object
----------
Row g:
name        Matthew
score          14.5
attempts          1
qualify        True
city         Sydney
Name: g, dtype: object
----------
Row h:
name        Laura
score         NaN
attempts        1
qualify     False
city        Dubai
Name: h, dtype: object
----------
Row i:
name         Kevin
score          8.0
attempts         2
qualify      False
city        Moscow
Name: i, dtype: object
----------
Row j:
name         Jonas
score         19.0
attempts         1
qualify       True
city        Berlin
Name: j, dtype: object
----------

In [53]:
#Q21. Write a Python program to get list from DataFrame column headers.
print("\nQ21: Get list of column headers")
column_headers = df.columns.tolist()
print(column_headers)

Q21: Get list of column headers
['name', 'score', 'attempts', 'qualify', 'city']